body {
  overflow: hidden;
}

.home {
  margin: 0 auto;
  width: 100vw;
  height: 95vh;
  background: url('../background.jpg') center no-repeat;
  justify-content: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_form {
  height: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_form p {
  color: #959595;
}

.home_pole {
  width: 390px;
  margin: 50px 0;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

.header_newUser {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.home_newUser {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.home_newUser a {
  text-decoration: none;
}

.comeInBtn {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc617;
  border-radius: 5px;
  border: none;
  font-size: 21px;
  margin-left: 60%;
  margin-top: 40px;
}

.registrationBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #3883e9;
}

input {
  border: none;
  border-bottom: 1px solid #eaeaea;
  width: 366px;
  box-shadow: none;
  background: rgba(73, 27, 27, 0);
}

input:focus {
  outline: 0;
}

.warning {
  height: 35px;
  border-radius: 3px;
  border: 1px solid red;
  margin-top: -37px;
  position: relative;
  z-index: 11;
  box-shadow: 0 0 10px rgba(196, 18, 18,0.2);
}