.login {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background: url('../background.jpg') center no-repeat;
  justify-content: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form {
  height: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form p {
  color: #959595;
}

.login_pole {
  width: 390px;
  margin: 65px 0;
}

h1 {
  font-size: 36px;
}

.header_newUser {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.login_newUser {
  display: flex;
}

.login_newUser a {
  text-decoration: none;
}

.comeInBtn {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc617;
  border-radius: 5px;
  border: none;
  font-size: 21px;
  margin-left: 60%;
  margin-top: 40px; 
}

.registrationBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #3883e9;
}

input {
  border: none;
  border-bottom: 1px solid #eaeaea;
  width: 390px;
  box-shadow: none;
}

input:focus {
  outline: 0;
}
