.registration {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background: url('../background.jpg') center no-repeat;
  justify-content: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
}

.registration_form {
  height: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration_form p {
  color: #959595;
}

.registration_pole {
  width: 390px;
  margin: 0 auto;
  margin: 65px 0;
}

.header_newUser {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.registration_newUser {
  display: flex;
  align-items: center;
}

.registration_newUser a {
  text-decoration: none;
}

.comeInBtn {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc617;
  border-radius: 5px;
  border: none;
  font-size: 21px;
  margin-left: 36%;
  margin-top: 40px; 
}

.registrationBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #3883e9;
}

input {
  border: none;
  border-bottom: 1px solid #eaeaea;
  width: 365px;
  box-shadow: none;
}

.input_userName {
  width: 160px;
  position: relative;
}

.input_warning {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid grey;
  height: 30px;
}

input:focus {
  outline: 0;
}

.registration_userName{
  display: flex;
  justify-content: space-between;
}

.input_warning {
  position: relative;
  bottom: 20px;
}

.warning {
  height: 35px;
  border-radius: 3px;
  border: 1px solid red;
  margin-top: -37px;
  position: relative;
  z-index: 11;
  box-shadow: 0 0 10px rgba(196, 18, 18,0.2);
}